src/main/mule/Compare_Dataweave_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<os:object-store name="Object_store" doc:name="Object store" doc:id="e1079502-4424-400a-8262-b01344f9f5b0" />
	<flow name="Compare_Dataweave_apiSub_Flow" doc:id="90a1a20d-2ab1-4385-986b-acc51c0527d2" >
		<set-variable value='#[{
	"employee": [{
			"id": "A007",
			"first_name": "Jan",
			"last_name": "Doe"
		},
		{
			"id": "A008",
			"first_name": "Ron",
			"last_name": "David"
		},
		{
			"id": "A009",
			"first_name": "Jane",
			"last_name": "Kane"
		},
		{
			"id": "A010",
			"first_name": "Marsh",
			"last_name": "Megan"
		},
		{
			"id": "A011",
			"first_name": "Kelly",
			"last_name": "Mitch"
		},
		{
			"id": "A012",
			"first_name": "Chris",
			"last_name": "Vaste"
		}
	]
}]' doc:name="Set Variable" doc:id="a0dcb866-01b8-4fbd-804a-b3183c9b1858" variableName="records"/>
		<foreach doc:name="For Each" doc:id="55023afb-d997-444f-8380-4fc9bda04c88" collection="#[vars.records]">
			<ee:transform doc:name="Transform Message" doc:id="fa3541a4-227b-4cef-9c81-1a7c7495257b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

var payload2 = 
{"scoreBoard":[{"id":"A007","subjects":["Maths","English","Arts","Drawimgs"],
"score":[80,75,89,100]},
{"id":"A008","subjects":["Maths","English","Arts","Drawimgs"],"score":[70,85,69,90]},
{"id":"A021","subjects":["Maths","English","Arts","Drawimgs"],"score":[90,87,77,95]}]}

var ID= "A007" 
---


      
/*{
    "Scoreboard": payload.employee[0]++ payload2.scoreBoard[0]
}*/

/*payload.employee.id[0]*/
/*payload2.scoreBoard.id[0]*/
if (payload.employee.id[0]== payload2.scoreBoard.id[0])
{
    "Scoreboard": payload.employee[0]++ payload2.scoreBoard[0]
}
else
"Cannot Find the Record...."


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="3520e94c-5ab9-4a96-93d9-a6307929da4c" message="#[payload]"/>
			<os:store doc:id="e475917a-4897-47a2-8885-0aa022e8e860" key="Students" objectStore="Object_store"/>
		</foreach>
		<os:retrieve doc:name="Retrieve" doc:id="0258a298-24a9-43ed-a0cd-5b7151311373" key="Students" objectStore="Object_store"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="bc83eceb-0335-4fe5-bcfc-10305ff583a1" />
	</flow>
</mule>
